<md-nav-bar
        md-selected-nav-item="currentNavItem"
        nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-click="goto('page1')" name="home">
        Disaster Manager
    </md-nav-item>
    <md-nav-item md-nav-click="goto('page2')" name="sos">
        SOS
    </md-nav-item>
    <md-nav-item md-nav-click="goto('stats')" name="stats">
        STATS
    </md-nav-item>



</md-nav-bar>






<div layout="row" ng-app="myApp" class="icondemoFontIconsWithLigatures" ng-cloak style="background: #1b1b1b;  ">

<div flex="30" layout="column" class="boxWithHeight" layout-padding>

    <div id="stat" flex="40">
        <h1>USER: <span>{{name}}</span></h1>
        <button ng-click="logout()">Logout</button>
        <h1 >
            PENDING WORK <span>{{pending}}</span>
        </h1>

        <h1 >
            CLOSED WORK <span>{{closed}}</span>
        </h1>

        <button ng-click="muteaudio()">Sounds : <span ng-if="!mute">On</span> <span ng-if="mute">Off</span>  </button>
    </div>

    <h2 id="h3">SITUATIONS</h2>
    <section flex="40">
        <h3 id="h3">PENDING</h3>

       <div class="scrollable">
           <md-list flex>
               <md-list-item class="md-3-line" ng-repeat="item in disasters" ng-if="item.status == 'Pending'" ng-click="showdisaster(item)">
                   <div class="md-list-item-text" layout="column">
                       <p>Date : {{item.reportdate}}</p>
                       <h3>Disaster Type : {{ item.type }}</h3>
                       <h4>Emergency Conatact {{ item.contact }}</h4>
                       <p>Disaster City : {{ item.city }}</p>
                       <p>Status : {{ item.status }}</p>
                       <p ng-if="item.statusdetails">Status-Details : {{ item.statusdetails }}</p>
                       <p>Approve : {{item.approved}}</p>
                   </div>
               </md-list-item>

           </md-list>
       </div>


    </section>
    <section flex>
        <h3 id="h3">CLOSED</h3>
<div class="scrollable" >
    <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="item in disasters" ng-if="item.status == 'Closed'" ng-click="showdisaster(item)">
            <div class="md-list-item-text" layout="column">
                <p>Date : {{item.reportdate}}</p>
                <h3>Disaster Type : {{ item.type }}</h3>
                <h4>Emergency Conatact {{ item.contact }}</h4>
                <p>Disaster City : {{ item.city }}</p>
                <p>Status : {{ item.status }}</p>
                <p ng-if="item.statusdetails">Status-Details : {{ item.statusdetails }}</p>
                <p>Approve : {{item.approved}}</p>
            </div>
        </md-list-item>

    </md-list>
</div>

    </section>
</div>
<div flex layout="column" class="boxWithHeight" layout-padding>
    <h3 id="h3">Disaster Management</h3>
    <section flex="70">
        <div layout="row" flex>
            <div layout="column" flex="60">
                <div class="details">
                    <h2>Disaster Details</h2>
                    <h2>Disaster Type : <span>{{disaster.type}}</span></h2>
                    <h2>Name : <span>{{disaster.fullname}}</span></h2>
                    <h2>NIC : <span>{{disaster.nic}}</span></h2>
                    <h2>Phone: <span>{{disaster.phone}}</span></h2>
                    <h2>Disaster Contact : <span>{{disaster.contact}}</span></h2>
                    <h2>Date : <span>{{disaster.reportdate}}</span> </h2>

                        <div style="background: whitesmoke; padding:2px;">
                            <p>Status : {{ disaster.status }}</p>
                            <p ng-if="disaster.statusdetails">Status-Details : {{ disaster.statusdetails }}</p>
                        </div>
                </div>

                <div layout="column"   layout-wrap>

                    <md-input-container class="md-block">
                        <label>Response Message</label>
                        <textarea ng-model="rm" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                    </md-input-container>

                    <md-button class="md-raised md-primary"  ng-click="closeissue(disaster.$id,rm)" ng-show="disaster.status == 'Pending'">Close Issue</md-button>

                </div>

            </div>

            <div  layout="column" flex="40">


                <a ng-click="openLightboxModal()" ng-if="disaster.photo != null ">
                    <img ng-src="{{disaster.photo}}"  style="margin: 0 auto;display: block;" class="img-thumbnail">
                </a>
            </div>
        </div>

    </section>
    <section flex="20"><h2>MAP</h2>



        <div map-lazy-load="{{googleMapsUrl}}">
            <ng-map center="[{{disaster.latlng.lat}}, {{disaster.latlng.lng}}]" zoom="15" style="height: 700px;">
                <marker position="[{{disaster.latlng.lat}}, {{disaster.latlng.lng}}]" ></marker>
            </ng-map>
        </div>

    </section>

</div>

</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at https://material.angularjs.org/license.
-->